<%- include("./templates/header.ejs") %>

<%#
  The reason why we are going back (using "../" instead of "./") once is
  because when in the "[domain_name]/update/:id", the directory it is 
  being shown is in "[domain_name]/update/" and not "[domain_name]/" 

  For example, if we did not go back, then the <link> element would 
  be looking for the css file in "[domain_name]/update/public/". 
  
  This is a problem since it should be looking for in 
  "[domain_name]/public/", the location where we have originally 
  specified.

  Side note: [domain_name] here is something like "google.com", "gov.id",
  etc. If you are currently running this locally, then most of the time
  it would be "localhost:3000" (unless you change the port).
 %>
<link rel="stylesheet" href="../public/styles/editor.css">

<main class="editor">
  <h1 class="editor-title"><%= locals.status %> Blog</h1>

  <form action="<%= locals.route %>" method="post" id="editor-form">
    <div class="editor-form-texttype">
      <div class="editor-form-fields editor-form-title">
        <label for="editor-form-field-title">Title</label>
        <input name="title" type="text" id="editor-form-field-title" value="<%= locals.title %>">
      </div>
      <div class="editor-form-fields editor-form-author">
        <label for="editor-form-field-author">Author</label>
        <input name="author" type="text" id="editor-form-field-author" value="<%= locals.author %>">
      </div>
    </div>
    <div class="editor-form-fields">
      <label for="editor-form-field-content">Content</label>
      <%# Requires to add that 'cols=5000px', so it has a resposive width's size %>
      <textarea name="body" id="editor-form-field-content" cols="5000px"><%= locals.body %></textarea>
    </div>
  </form>

  <div class="editor-actions">
    <div class="editor-actions-submit button-container">
      <button form="editor-form" type="submit"><%= locals.status %></button>
    </div>
    <div class="editor-actions-cancel button-container">
      <a href="/">Cancel</a>
    </form>
  </div>
</main>

<script src="../public/scripts/editor.js"></script>

<%- include("./templates/footer.ejs") %>