<%- include("./templates/header.ejs") %>

<main class="homepage">
  <div class="container1">
    <h1 class="title">Welcome to a Blog Web Application!</h1>
    <form action="/create" method="get">
      <button type="submit">+ Create a New Blog!</button>
    </form>
    <div class="blogs">
      <% if(locals.blogs) { %>
        <% for(const id of blogs.keys()) { %>
          <div class="blog">
            <form action=<%= `/view/${id}` %> method="get"> <button type="submit" class="b_view"><span><%= blogs.get(id).title %></span></button> </form>
            <div class="vertical-rule"></div>  
            <div>
              <form action=<%= `/update/${id}` %> method="get"> <button type="submit" class="b_upd">Update</button> </form>
              <form action=<%= `/delete/${id}` %> method="post"> <button type="submit" class="b_del">Delete</button> </form>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <h3>There is no blog yet... Create <a href="/create">one</a>!</h3>
      <% } %>
    </div>
  </div>
</main>

<%- include("./templates/footer.ejs") %>