<%- include("./templates/header.ejs") %>

<link rel="stylesheet" href="./public/styles/index.css">

<main class="homepage">
  <div class="homepage-container">
    <h1 class="homepage-title">Welcome to a Blog Web Application!</h1>
    <% if(locals.blogs) { %>
      <div class="button-container">
        <a href="/create">Create a New Blog!</a>
      </div>
    <% } %>
    <div class="homepage-blog-list">
      <% if(locals.blogs) { %>
        <% for(const id of blogs.keys()) { %>
          <div class="homepage-blog">
            <div class="button-container"> <a href=<%= `/view/${id}` %> class="homepage-blog-button-view"><span><%= blogs.get(id).title %></span></a> </div>
            <div class="vertical-line"></div>  
            <div class="homepage-blog-action-buttons">
              <div class="button-container"> <a href=<%= `/update/${id}` %> class="homepage-blog-button-update">Update</a> </div>
              <form action=<%= `/delete/${id}` %> method="post" class="button-container"> <button type="submit" class="homepage-blog-button-delete">Delete</button> </form>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <h3>There is no blog yet... <a href="/create">Create one</a>!</h3>
      <% } %>
    </div>
  </div>
</main>

<%- include("./templates/footer.ejs") %>