<%- include("./templates/header.ejs") %>

<main>
  <h1>New Blog</h1>
  <form action=<%= (typeof locals.body === "string" ? `/update/d/${id}` : "/create") %> method="post">
    <label for="title">Title</label>
    <input name="title" type="text" id="title" value="<%= (typeof locals.title === "string" ? title : "") %>">

    <label for="author">Author</label>
    <input name="author" type="text" id="author" value="<%= (typeof locals.author === "string" ? author : "") %>">

    <label for="body">Body</label>
    <textarea name="body" id="body"><%= (typeof locals.body === "string" ? body : "") %></textarea>

    <button type="submit"><%= (typeof locals.body === "string" ? "Update" : "Create") %></button>
  </form>
</main>

<%- include("./templates/footer.ejs") %>