<%- include("./templates/header.ejs") %>

<link rel="stylesheet" href="../public/styles/view.css">

<main class="view">
  <h1 class="view-title"><%= blog.title %></h1>
  <div class="view-info">
    <p class="view-info-date"><%= blog.date%></p>
    <p class="view-info-author"><%= blog.author %></p>
  </div>
  <p class="view-content"><%- blog.body %></p>
  <div class="view-actions">
    <div class="view-actions-update button-container">
      <a href="/update/<%= id %>">Update</a>
    </div>
    <div class="view-actions-back button-container">
      <a href="/">Back</a>
    </div>
  </div>
</main>

<%- include("./templates/footer.ejs") %>