<%- include("./templates/header.ejs") %>

<link rel="stylesheet" href="../public/styles/view.css">

<main class="view">
  <h1 class="view-title"><%= title %></h1>
  <div class="view-info">
    <p class="view-info-date">Created on: <%= createdOn%></p>
    <p class="view-info-date">Last Update on: <%= lastUpdateOn%></p>
    <p class="view-info-author"><strong><%= author %></strong></p>
  </div>
  <div class="view-content">
    <% for(const line of content) { %>
      <p class="view-content-line"><%= line %></p>
    <% } %>
  </div>
  <div class="view-actions">
    <div class="view-actions-update button-container">
      <a href="/update/<%= id %>">Update</a>
    </div>
    <div class="view-actions-back button-container">
      <a href="/">Back</a>
    </div>
  </div>
</main>

<%- include("./templates/footer.ejs") %>